.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  width: 10%;
}

table th {
  background-color: #f2f2f2;
  width: 10%;
}

.simpan-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  padding-right: 10%;
}

.simpan {
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  border: none;
  cursor: pointer;
  float: right;
}

.simpan:hover {
  background-color: #45a049;
}

.image {
  width: 20px;
  height: 20px;
  float: none;
  border-radius: 50px;
}